.catalog {
    margin-bottom: 80px;
    &__order {
        min-height: 48px;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        margin-bottom: 16px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 145px);
        gap: 10px;
    }
}